<td
  <% if cell.errors.any? %>
    class="error"
    title="<%= cell.errors.to_sentence %>"
  <% end %>
>
  <% if cell.locked? %>
    <input disabled="true" value="<%= cell.value %>">
    <input name="cell[]" type="hidden" value="<%= cell.value %>">
  <% elsif cell.value %>
    <input name="cell[]" value="<%= cell.value %>">
  <% else %>
    <input name="cell[]">
  <% end %>
</td>
