<td>
  <% if cell.locked_to_problem %>
    <input value="<%= cell.value %>" disabled="true">
    <input type="hidden" value="<%= cell.value %>" name="cell[]">
  <% else %>
    <input name="cell[]">
  <% end %>
</td>
