<table class="grid">
  <% @problem.grid.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td>
          <% if cell.nil? %>
            <input>
          <% else %>
            <input value="<%= cell %>" disabled="true">
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
