<!-- TODO harlem shake on success -->

<%= form_for @problem do |form| %>
  <table class="grid">
    <% @problem.grid.rows.each do |row| %>
      <tr>
        <%= render partial: "cell", collection: row %>
      </tr>
    <% end %>
  </table>

  <%= form.submit "Submit Solution" %>
<% end %>
