<%= form_for @problem do |form| %>
  <table class="grid">
    <% @grid.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <%= cell_tag cell %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= form.submit "Submit Solution" unless @you_won %>
<% end %>
