// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.grid {
  margin: 0 auto;

  input {
    width: 2em;
    height: 2em;
    text-align: center;
  }

  // color boxes
  tr {
    $highlight: green;

    // top 3 rows OR bottom 3 rows
    &:nth-child(-n+3),&:nth-child(n+7) {
      // left 3 columns OR right 3 columns
      td:nth-child(-n+3),:nth-child(n+7) {
        background-color: $highlight;
      }
    }

    // center 3 rows
    &:nth-child(n+4):nth-child(-n+6) {
      // center 3 columns
      td:nth-child(n+4):nth-child(-n+6) {
        background-color: $highlight;
      }
    }
  }
}
