// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_problem {
  $default_dark: #607d8b;
  $default_light: #eceff1;

  $error_dark: #f44336;
  $error_light: #ffebee;

  input[type=submit] {
    font-size: 1.5em;

    display: block;
    background-color: $default_light;
    border: none;

    padding: 0.5em 1.5em;
    margin: 0.5em auto;
    &:hover { margin: 0.4em auto; }

    box-shadow: 0.05em 0.05em 0.05em #999;
    &:hover { box-shadow: 0.1em 0.1em 0.1em #999; }
  }

  table.grid {
    margin: 0 auto;

    td { padding: 0; }

    input {
      font-size: 1.2em;
      width: 2em;
      height: 2em;
      text-align: center;
      background: transparent;
      border: none;

      &[disabled] {
        font-weight: bold;
        color: $default_dark;
        border: 1px solid $default_dark;
      }
    }

    // color boxes
    tr {
      // top 3 rows OR bottom 3 rows
      &:nth-child(-n+3),&:nth-child(n+7) {
        // left 3 columns OR right 3 columns
        td:nth-child(-n+3),:nth-child(n+7) {
          background-color: $default_light;
        }
      }

      // center 3 rows
      &:nth-child(n+4):nth-child(-n+6) {
        // center 3 columns
        td:nth-child(n+4):nth-child(-n+6) {
          background-color: $default_light;
        }
      }
    }
  }

  td.error {
    background-color: $error_light !important;

    input {
      color: $error_dark;
      &[disabled] {
        // border: 1px solid $error_dark;
      }
    }
  }
}
